@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>We shall make a website using the ASP.Net MVC controller to store and manage the Subjects, topic and subtopics</p>
</div>
